html {
    font-size: 1rem;
    position: relative;
    min-height: 100%;
}

.game-baord {
    background-color: #EFECEC;
    border: 2px #0C2D57 solid;
    height: 2425px;
    width: 1475px;
    padding: 10px;
}

    .game-baord.forbidden {
        pointer-events: none;
        cursor: wait;
        opacity: 0.65;
    }

    .game-baord .box {
        border: 1px #0C2D57 solid;
        border-radius: 1px;
        height: 10px;
        width: 10px;
        display: inline-block;
    }

        .game-baord .box.open {
            background-color: #FC6736;
        }

        .game-baord .box.close {
            background-color: #FFB0B0;
        }

.timer span {
    padding: 0px 7px;
}

.timer label {
    margin-right: 15px;
}

.timer .time {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
