@page

@model IndexModel

@{
    ViewData["Title"] = "let's play";
}

<div class="timer d-flex align-items-center justify-content-center mb-3 mt-3">
    <span class="label">Remaining Time:</span> <span class="time"><span data-minutes class="minutes"></span>:<span data-seconds class="seconds"></span></span>
</div>

<div class="game-baord" id="game-baord">
    @for (var x = 0; x < 100; x++)
    {
        @for (var y = 0; y < 100; y++)
        {
            <span class="box @(Model.Map[x, y].IsShown ? "open": "close")" onclick="requestBox(@x, @y)" id="@(x)_@(y)"></span>
        }

        <br />
    }
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/gameStatus.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/timezz@7.0.0/dist/timezz.min.js"></script>
    <script>
        timezz(document.querySelector('.timer'), {
            date: '@Model.EndDateTime',
            stopOnZero: true,
        });
    </script>
}